doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/d3.v6.js')
    script(src='/javascripts/chart.js')
  body
    block content
